// Semantically enriched variants of Bulma's Tag-component

.card-header .tags {
    .tag {
        margin-bottom: 0px;
    }
    margin: 5px;
    margin-top: 0px;
}

.tag.blocked {
    border: 3px solid $red;
    background-color: $white;
}
