.c-activities{
    border-left: 6px solid;
    &.worked-on{
        border-left-color: goldenrod;
    }
    &.completed{
        border-left-color: rgb(3, 98, 90);
    }
    &.blocking{
        border-left-color: $secondary;
    }
    & li {
        margin-bottom: 10px;
        margin-left: 20px;
        list-style: square;
    }
}

