.c-activities{
    border-left: 6px solid;
    &.worked-on{
        border-left-color: orange;
    }
    &.completed{
        border-left-color: green;
    }
    &.blocking{
        border-left-color: red;
    }
    & li {
        margin-bottom: 10px;
    }
}

