.c-activities {
    border-left: 6px solid;
    overflow: hidden;

    &.worked-on {
        border-left-color: goldenrod;
    }
    &.completed {
        border-left-color: rgb(3, 98, 90);
    }
    &.blocking {
        border-left-color: $secondary;
    }
    & li {
        margin-bottom: 10px;
        padding-left: 1.5em;

        // the discussion-decoration shall only be shown when hovered
        & .discuss {
            display: none;
            margin-left: 10px;
            font-weight: bolder;
        }
        &:hover .discuss {
            display: inherit;
        }
    }
}

