.c-availabilities {
    padding-bottom: 30px;

    .status-unknown {
        opacity: 0.3;
        margin: auto;

        .c-user:after {
            content: "keine Info";
            border-radius: 5px;
            border: 2px solid darkgrey;
            background-color: white;

            display: block;
            position: relative;
            width: 128px;
            padding: 2px;
            top: 5px;

            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }
    }

    .tags {
        align-items: flex-start;
    }

    .tags .tag {
        font-size: 15px;
    }
}