// Semantically enriched variants of Bulma's Tag-component

.card-header .tags {
    .tag {
        margin-bottom: 0px;
    }
    margin: 5px;
    margin-top: 0px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.tag{
    font-weight: 700;

    &.blocked {
        color:  white;
        background-color: $secondary;
    }

    &.wrapped {
        max-width: 200px;
        overflow: hidden;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
}
