@import '~_variables.sass';
@import '~react-bulma-components/lib/index.sass';

// own COMPONENTS
@import './components/Activity.scss';
@import './components/Availabilities.scss';
@import './components/Future.scss';
@import './components/Tag.scss';
@import './components/User.scss';
@import './components/Editor.scss';
@import './components/MemberReport.scss';

.serverUrl {
  float: right;
}

.statusKnownCheckbox {
  margin: -1.5em 0 1.5em;
}

#screenshot-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  line-height: 1em;
  text-indent: -4px;
  font-size: 20px;

  &:hover {
    background-color: #cccccc;
  }
}

#send-button {
  position: absolute;
  right: 45px;
  top: 10px;
  height: 30px;
  width: 30px;
  font-size: 22px;
  border-radius: 50%;
}

// elements which properties are overridden
@import './objects/section.scss';
